body {
  font-family: sans-serif;
  background: #fff;
  color: #200;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 24px;
}

a {
  color: #26e;
  font-weight: 600;
}